body
{
    background-color:pink;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;    
    color: white;
    overflow: hidden;
}

body, #body-musee
{
    background-color:navy;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;    
    color: white;
    overflow: hidden;
}


#musee 
{
    width: 100%;
    height: 100%;
    touch-action: none;
}